table{
    width: 400px;
    height: 300px;
    border: solid 1px #dcdcdca4;
    text-align: center;
    padding: 8px;
    margin: 20px;
}

input{
    width: 90px;
    height: 40px;
    font-size: large;
    background-color: rgb(216, 216, 216);
    border: solid 1px black;
    border-radius: 5px;
    outline: blue;
}

.display{
    width: 370px;
    text-align: right;
    background: black;
    color: white;
    border-radius: 0px;
}

.operator{
    background-color: rgb(255, 179, 39);
}

.clear,.equal{
    background-color: #989898;
    width: 185px;
}

input:active{
    background: rgb(237, 237, 237);
}

.operator:active{
    background: rgb(255, 199, 96);
}

.clear:active,.equal:active{
    background: #aeaeae;
}